<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="APP_NAME" source="spring.application.name" defaultValue="e-print-admin"/>
    <property name="LOG_ROOT_LEVEL" value="${E_PRINT_LOG_ROOT_LEVEL:-INFO}"/>
    <property name="LOG_HOME" value="${E_PRINT_LOG_PATH:-logs}"/>
    <property name="GRAYLOG_HOST" value="${E_PRINT_GRAYLOG_HOST:-grayloguat.moco.com}"/>
    <property name="GRAYLOG_PORT" value="${E_PRINT_GRAYLOG_PORT:-12201}"/>
    <property name="GRAYLOG_ENV" value="PRD"/>
    <include resource="logback-base.xml"/>

    <logger name="com.eprint.admin.EPrintAdminApplication">
        <appender-ref ref="STDOUT"/>
    </logger>
</configuration>
