<?xml version="1.0" encoding="UTF-8"?>
<included>
    <property name="LOG_MSG" value="[%X{traceId:-}] [%X{spanId:-}] [%X{requestId:-}] [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%logger{60}${LOG_CALLER:-}] - %msg%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_MSG}</pattern>
            <charset>${CONSOLE_LOG_CHARSET:-${native.encoding:-UTF-8}}</charset>
        </encoder>
    </appender>

    <appender name="GELF" class="de.siegmar.logbackgelf.GelfUdpAppender">
        <graylogHost>${GRAYLOG_HOST}</graylogHost>
        <graylogPort>${GRAYLOG_PORT}</graylogPort>
        <maxChunkSize>508</maxChunkSize>
        <compressionMethod>GZIP</compressionMethod>
        <encoder class="de.siegmar.logbackgelf.GelfEncoder">
            <originHost>${HOSTNAME:-unknown}</originHost>
            <includeRawMessage>false</includeRawMessage>
            <includeMarker>true</includeMarker>
            <includeMdcData>true</includeMdcData>
            <includeCallerData>${INCLUDE_CALLER_DATA}</includeCallerData>
            <includeRootCauseData>true</includeRootCauseData>
            <includeLevelName>true</includeLevelName>
            <shortMessageLayout class="ch.qos.logback.classic.PatternLayout">
                <pattern>${LOG_MSG}</pattern>
            </shortMessageLayout>
            <fullMessageLayout class="ch.qos.logback.classic.PatternLayout">
                <pattern>${LOG_MSG}</pattern>
            </fullMessageLayout>
            <staticField>application:${APP_NAME}</staticField>
            <staticField>environment:${GRAYLOG_ENV}</staticField>
        </encoder>
    </appender>

    <logger name="com.eprint.server" level="DEBUG" additivity="false">
        <appender-ref ref="GELF"/>
    </logger>

    <root level="${LOG_ROOT_LEVEL}">
        <appender-ref ref="GELF"/>
    </root>
</included>
